<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HOME</title>
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
            crossorigin="anonymous"
    />

    <link href="css/styles.css" rel="stylesheet">

</head>
<body>
<nav class="navbar navbar-expand-md navbar-yellow bg-yellow">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img
                    src="/images/logo.jpg"
                    alt="herosquad"
                    width="10"
                    height="30"
                    class="d-inline-block align-text-top rounded-circle"
            />
            HERO SQUAD
        </a>

        <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navmenu"
        >
            <span class="navbar toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navmenu">

        </div>
    </div>
</nav>


<!-- introduction section -->
<section class="p-1 d-flex text-center align-items-center justify-content-center">
    <div class="d-flex align-items-center justify-content-center">
        <div class="d-sm-flex align-items-center justify-content-center">
            <div class="intro-text1 my-5 p-1">
                <h1 class="align-items-center justify-content-between">
                    See   <span class="text-warning"> Hero Details </span>
                </h1>

                <p class="lead">
                    Perform the actions below on our pages
                </p>
                <div class="container">


                    <div class="row p-2 m-2">
                        <a href="/strength/add">
                            <button type="button" class="btn btn-success btn-lg col-md-4">
                                Strength
                            </button>
                        </a>
                    </div>

                    <div class="row p-2 m-2">
                        <a href="/weakness/add">
                            <button type="button" class="btn btn-success btn-lg col-md-4">
                                Weakness
                            </button>
                        </a>
                    </div>
                    <div class="row p-2 m-2">
                        <a href="/hero/add">
                            <button type="button" class="btn btn-success btn-lg col-md-4">
                                Hero
                            </button>
                        </a>
                    </div>
                    <div class="row p-2 m-2">

                        <a href="/squad/add">
                            <button type="button" class="btn btn-success btn-lg col-md-4">
                                Squad
                            </button>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
</body>
</html>